.button-container-find-groups > button{
    width: 50%;
	margin-top: 5%;
	display: inline-block;
	padding: 18px 32px;
	border: 0;
	text-decoration: none;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	color: rgba(255, 255, 255, 0.8);
	font-size: 17px;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}
