
.display-groups {
    overflow-y: scroll;
    height: 89vh;
    width: 100%;
}
.group-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: rgba(255, 255, 255, 0.8);
    width: 68%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
    padding: 10px 10px;
    margin: 10px auto;
    list-style: none;
    text-decoration: none;
}
h1, p,label {
    color: white;
}

.link:hover {
    text-decoration: none;
}
.add-button {
    display: flex;
}

.add-venue-button {
	width: 20%;
	background-color: rgba(255, 215, 0, 0.4);
	border: 1px solid #f2f2f2cc;
	color: rgba(255, 255, 255, 0.9);
	padding: 5px 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	justify-content: center;
}

.uk-accordion-content input {
    color: grey;
    text-align: center;
    height: 50px;
    width: 60%;
    border-radius: 8px;
    background-color: rgba(253, 253, 253, 0.8);
    border: 1px solid rgba(242, 242, 242, 0.8);
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
}

.create-venue-button {
    margin: 20px 0px;
	width: 50%;
	background-color: rgba(255, 215, 0, 0.4);
	border: 1px solid #f2f2f2cc;
	color: rgba(255, 255, 255, 0.9);
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.add-venue-button {
    margin: 20px 0px;
	width: 50%;
	background-color: rgba(255, 215, 0, 0.4);
	border: 1px solid #f2f2f2cc;
	color: rgba(255, 255, 255, 0.9);
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.button-li {
    margin: 0 auto;
}

.manage-venue-button {
    margin: 20px 0px;
	width: 50%;
	background-color: rgba(255, 215, 0, 0.4);
	border: 1px solid #f2f2f2cc;
	color: rgba(255, 255, 255, 0.9);
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.venue-image {
   margin-bottom: 20px;
}